.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width:990px) {
    .not-to-mobile{
        width: 0%;
    } 
  }

.myblock {
  padding: 20px !important;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}
.sub-heading{
    padding-top: 5px;
    padding-bottom: 3px;
    text-align: left;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12pt;
    color: #000;
    padding-left: 8%;
}
.show-in-table {
    border: 2px ;
    width: 100%;
}
.show-in-table td {
  text-align: center;
  padding: 8px;
}



  .myatttable {
    border-collapse: collapse;
    width: 100%;
}
  
  .myatttable th,.myatttable td {
      text-align: center;
      padding: 8px;
      font-size: 13px;
  }
  
  .myatttable th {
      background-color: darkslateblue;
      color: white;
  }

